<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Task App</title>
</head>

<body style="line-height: 18px;">
	<table width="850px" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #e6e6e6">
		<tr>
			<!--<td style="border-bottom: #d6d6d6 1px dashed; padding: 7px;">
            <center><img src="https://www.webelement.cc/recoapp_data/templates/logo.jpg" style="width: 230px;" alt="RECOAPP" /></center>
        </td>-->
			<td style="border-bottom: #d6d6d6 1px dashed; padding: 7px;">
				<!--  <center> <img src="https://www.iba.org.in/ibaesg/assets/logo/ibalogo.png" style="width: 230px;" alt="IBAESG" /></center>-->
				<center><span style="color: #00bcd4;font-weight: 600;">Task App</span> </center>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">Dear
							__NAME__,</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">
							You have requested your password information for your account. Please check below url.
						</td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;"><strong>URL
								:</strong> <a
								style='background-color: #00acc1;color:#fff;padding: 8px 10px;border-radius: 2px;text-decoration:none;'
								title='Click Here' href='__LINK__' target="_blank" rel="noopener noreferrer">Click
								Heress</a></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td style="font-family: Arial;color: #666;font-size: 12px;font-weight: normal;"><b>Note:</b>
							This mail is valid only for 24 hrs.</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">Regards,</td>
					</tr>
					<tr>
						<td>&nbsp; </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px; font-weight: normal;">Task App Team
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#0a7a96" style="padding: 5px; height: 35px;">
				<!-- <a href="https://www.iba.org.in/ibaesg/" target="_blank" style="text-decoration:none;"><font face="Arial"
                color="#fff" size="2"><strong>https://www.iba.org.in/ibaesg/</strong></font></a>-->
				<a href="https://app.webelement.cc/taskapp/" target="_blank" style="text-decoration:none;">
					<font face="Arial" color="#fff" size="2"><strong>https://app.webelement.cc/taskapp/</strong></font>
				</a>
			</td>
		</tr>
		<tr>
			<td height="25px" align="center" bgcolor="#faf9f9" style="padding: 5px;">
				<font face="Arial" color="#666666" size="2"><i>Disclaimer: If you have received this
						message by error, please ignore it.<br />
					</i></font>
			</td>
		</tr>
	</table>
</body>

</html>