<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Task Status Update</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <p>Dear __NAME__,</p>

    <p>Your task status has been updated.</p>

    <table>
        <tr>
            <td><b>Task</b></td>
            <td>: __TASK_TITLE__</td>
        </tr>
        <tr>
            <td><b>Current Status</b></td>
            <td>: __OLD_STATUS__</td>
        </tr>
        <tr>
            <td><b>New Status</b></td>
            <td>: __NEW_STATUS__</td>
        </tr>
    </table>

    <br><br>

    Regards,<br>
    Task App Team

</body>
</html>