<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif;">

<p>Dear __NAME__,</p>

<p>A new note has been added to the task.</p>

<table style="border-collapse: collapse;">
    <tr>
        <td><b>Task</b></td>
        <td>: __TASK_TITLE__</td>
    </tr>
    <tr>
        <td><b>Added By</b></td>
        <td>: __CREATED_BY__</td>
    </tr>
    <tr>
        <td valign="top"><b>Note</b></td>
        <td>: __NOTE__</td>
    </tr>
</table>

<br><br>

Regards,<br>
Task App Team

</body>
</html>