<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif;">

	<p>Dear __ASSIGNEE_NAME__,</p>

	<p>A task has been assigned to you. Please find the task details below.</p>

	<table style="border-collapse: collapse;">
		<tr>
			<td><b>Task Title</b></td>
			<td>: __TASK_TITLE__</td>
		</tr>
		<tr>
			<td><b>Client Name</b></td>
			<td>: __CLIENT_NAME__</td>
		</tr>
		<tr>
			<td><b>Assigned By</b></td>
			<td>: __ASSIGNED_BY__</td>
		</tr>
		<tr>
			<td><b>Start Date</b></td>
			<td>: __START_DATE__</td>
		</tr>
		<tr>
			<td><b>Due Date</b></td>
			<td>: __DUE_DATE__</td>
		</tr>
		<tr>
			<td><b>Priority</b></td>
			<td>: __PRIORITY__</td>
		</tr>
		<tr>
			<td valign="top"><b>Remark</b></td>
			<td>: __DESCRIPTION__</td>
		</tr>
	</table>

	<br><br>

	Regards,<br>
	Task App Team

</body>

</html>